.row > div{
    background: #f2f2f2;
    padding: 30px;
    border: 1px solid grey;

  }

/* .book{

 
    display: flex;
    background-color: DodgerBlue;
}

.flex-row>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
} */
  
